[user]
    email = eisuke.kinoshita@mixi.co.jp
    name = Eisuke Kinoshita
[color]
    ui = auto
[core]
    excludesfile = /home/eisuke.kinoshita/.gitignore_global
    editor = vim
[alias]
    br = branch
    st = status
    co = checkout
    df = diff
	graph = log --graph
	list = config --list
	edit = config -e
	gedit = config --global -e
    hard = reset --hard HEAD
    cp = cherry-pick
	pr = pull-request
[push]
    default = current
