[user]
    email = eisuke.kinoshita@mixi.co.jp
    name = Eisuke Kinoshita
[color]
    ui = auto
[core]
    excludesfile = /home/bkapps/.gitignore_global
    editor = vim
	excludesfile = /Users/eisuke.kinoshita/.gitignore
[alias]
    br = branch
    st = status
    co = checkout
    df = diff
	graph = log --graph
	list = config --list
	edit = config -e
	gedit = config --global -e
    hard = reset --hard HEAD
[push]
    default = current
[hub]
	host = github.lo.mixi.jp
